<table mat-table [dataSource]="products">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Product Name </th>
      <td mat-cell *matCellDef="let product"> {{ product.name }} </td>
    </ng-container>
  
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let product"> {{ product.price }} </td>
    </ng-container>
  
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let product"> {{ product.description }} </td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let product">
        <button mat-button [routerLink]="['/edit', product.id]">Edit</button>
        <button mat-button (click)="deleteProduct(product.id)">Delete</button>
        <button mat-button [routerLink]="['/product', product.id]">Details</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="['name', 'price', 'description', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['name', 'price', 'description', 'actions'];"></tr>
  </table>
  